# ARITHMATIC OPERATOR

In [1]:
x=4
y=4

print(x+y)
print(x-y)
print(x*y)
print(x/y)

8
0
16
1.0

# modulus

In [2]:
x=5
y=2

print(x%y)

1

# exponentiation

# assignment operator

In [3]:
x=17
y=x+3
print(y)

20

# comparison operator

In [4]:
x=4
y=4

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

True
False
False
False
True
True

# logical operator

In [5]:
x=11
print(x>3 and x<15)
print(x>3 or x<4)
print(not(x>3 and x<10))

True
True
True

# membership operator

In [6]:
x=["komal","vidya","mona"]

print("vidya" in x)

True

In [4]:
x=["apple","banana"]

print("pineapple" not in x)

True

# identity operator

In [2]:
x=["apple","banana"]
y=["apple","banana"]
z=x


print(x is z)
print(x is y)
print(x == y)

True
False
True

# id

In [8]:
print(id(x))
print(id(y))
print(id(z))

2509328527424
2509328528064
2509328527424

# list

In [11]:
thislist=["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# access items

In [12]:
thislist=["apple","banana","cherry"]
print(thislist[1])

banana

# change item value

In [13]:
thislist=["apple","banana","cherry"]
thislist[2]="orange"
print(thislist)

['apple', 'banana', 'orange']

# list length

In [14]:
thislist=["apple","banana","cherry"]
print(len(thislist))

3

In [5]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [2]:
thislist=["apple","banana","cherry"]
thislist.insert(0,"orange")
print(thislist)

['orange', 'apple', 'banana', 'cherry']

# remove

In [4]:
thislist=["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [7]:
thislist=["apple","banana","cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [4]:
thislist=["apple","banana","cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [21]:
thislist=["apple","banana","cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

# clear

In [22]:
thislist=["apple","banana","cherry"]
thislist.clear()
print(thislist)

[]

In [11]:
thislist=["apple","banana","cherry"]
mylist=thislist
print(mylist)

['apple', 'banana', 'cherry']

In [13]:
thislist.clear()
print(thislist)

[]

In [14]:
print(mylist)

[]

In [8]:
thislist=["apple","banana","cherry"]
mylist=thislist.copy()

In [17]:
thislist.clear()
print(thislist)

[]

# count

In [32]:
fruits=["apple","banana","cherry"]
x=fruits.count("apple")
x

1

In [19]:
cars=["Ford","BMW","Volvo"]
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

# sort()

In [21]:
cars.sort(reverse=True)
cars

['Volvo', 'Ford', 'BMW']

# tuple

In [23]:
thistuple=("apple","banana","cherry")

print(thistuple)

('apple', 'banana', 'cherry')

tuple

In [25]:
thistuple=("apple","banana","cherry")
print(thistuple[2])

cherry

In [8]:
thistuple=("apple","banana","cherry")
thistuple[2]="orange"

TypeError: 'tuple' object does not support item assignment

In [27]:
thistuple=("apple","banana","cherry")
del thistuple[1]
print(thistuple)

TypeError: 'tuple' object doesn't support item deletion

In [28]:
thistuple=("apple","banana","cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

# tuple count

In [29]:
thistuple=(1,3,7,8,7,5,4,6,8,5)
x=thistuple.count(5)
print(x)

2

# set

In [33]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [34]:
thisset={"apple","banana","cherry"}
thisset.update(["orange","mango","grapes"])
print(thisset)

{'grapes', 'cherry', 'orange', 'mango', 'apple', 'banana'}

In [8]:
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [6]:
thisset={"apple","banana","cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [9]:
thisset={"apple","banana","cherry"}
thisset.pop()
print(thisset)

{'banana', 'cherry'}

# dictionry

In [18]:
thisdict={"brand":"ford","model":"mustang","year":1964}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [19]:
thisdict={"brand":"ford","model":"mustang","year":1964}
thisdict["year"]=2022
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 2022}

In [20]:
thisdict={"brand":"ford","model":"mustang","year":1964}
thisdict["color"]="red"
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'red'}

In [4]:
thisdict={"brand":"ford","model":"mustang","year":1964}
thisdict.pop("brand")
print(thisdict)

{'model': 'mustang', 'year': 1964}