# creating a function

In [1]:
def abc():
    print("Good afternoon")

In [2]:
abc()

Good afternoon

In [3]:
def my_function():
    print("Hello from a function")

In [4]:
my_function()

Hello from a function

In [11]:
def miss():
    y='curd'
   
    if xy=="curd":
        print("here is your food")
    else:
        print("invalid")

In [12]:
miss()

invalid

In [5]:
def miss():
    print("food is missed")
x="Rice" 
if x=="curd":
    print("here is your food")
else:
    miss()

food is missed

In [14]:
def abc(first_name):
    print(first_name+"All good"+",good evening")

In [16]:
abc("vidya ")

vidya All good,good evening

In [22]:
def my_function(a,b):
    total=a+b
    sub=total/2
    return (total,sub)

In [23]:
my_function(7,3)

(10, 5.0)

In [24]:
def subtraction(a,b,c):
    x=a-b-c
    y=a+b+c
    z=x+y
    u=x-y
    return z

In [25]:
subtraction(10,10,10)

20

In [26]:
def num(var1,var2,var3,var4):
    output=var1*var2*var3*var4
    return output

In [27]:
num(2,3,2,2)

24

# keyword argument

In [7]:
def my_function(child3,child2,child1):
    print("the youngest child is "+child2)

In [8]:
my_function('hitesh','anil','nikita')

the youngest child is anil

In [31]:
def my_function(country='norway'):
    print("i am from "+country)

In [32]:
my_function()

i am from norway

In [33]:
my_function('india')

i am from india

In [34]:
def salary_hra(x,hra=4):
    output=x*(hra/100)
    return output

In [35]:
salary_hra(10000)

400.0

In [36]:
salary_hra(10000,6)

600.0

In [37]:
def my_function(food):
    for x in food:
        print(x)

In [38]:
fruits=["apple","banana","cherry"]
fruits

['apple', 'banana', 'cherry']

In [40]:
 my_function(fruits)

apple
banana
cherry

In [ ]:
 my_function(food)

In [45]:
def absolute_value(num):
    if num>=3:
        return num
    else:
        return -num
print(absolute_value(2))  
print(absolute_value(4))

-2
4

In [48]:
def my_function(*kids):
    print("the youngest child is "+kids[0])

In [49]:
my_function("hitesh","pranay","irfan","pratik","ubaid")

the youngest child is hitesh