In [4]:
import pandas as pd

In [5]:
new=pd.read_csv(r"C:\Users\Admin\Desktop\PYTHON\insurance.csv")
new

      age     sex     bmi  children smoker region      charges      Month
0      19  female  27.900         0    yes  South  16884.92400  16.884924
1      18    male  33.770         1     no  South   1725.55230   1.725552
2      28    male  33.000         3     no  South   4449.46200   4.449462
3      33    male  22.705         0     no  North  21984.47061  21.984471
4      32    male  28.880         0     no  North   3866.85520   3.866855
...   ...     ...     ...       ...    ...    ...          ...        ...
1333   50    male  30.970         3     no  North  10600.54830  10.600548
1334   18  female  31.920         0     no  North   2205.98080   2.205981
1335   18  female  36.850         0     no  South   1629.83350   1.629833
1336   21  female  25.800         0     no  South   2007.94500   2.007945
1337   61  female  29.070         0    yes  North  29141.36030  29.141360

[1338 rows x 8 columns]

In [6]:
new_2=pd.read_excel(r"C:\Users\Admin\Desktop\PYTHON\myworkbook.xlsx")
new_2

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [7]:
new_3=pd.read_excel(r"C:\Users\Admin\Desktop\PYTHON\myworkbook.xlsx",sheet_name="faithful")
new_3

     eruptions  waiting
0        3.600       79
1        1.800       54
2        3.333       74
3        2.283       62
4        4.533       85
..         ...      ...
267      4.117       81
268      2.150       46
269      4.417       90
270      1.817       46
271      4.467       74

[272 rows x 2 columns]

In [9]:
new_2.to_csv(r"C:\Users\Admin\Desktop\PYTHON\demo.csv",index=False)

In [27]:
new_2=pd.read_csv(r"C:\Users\Admin\Desktop\PYTHON\demo.csv")
new_2

    Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0            0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1            1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2            2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3            3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4            4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5            5  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6            6  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7            7  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8            8  22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9            9  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10          10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11          11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12          12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13          13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14          14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15          15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16          16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17          17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18          18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19          19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20          20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21          21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22          22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23          23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24          24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25          25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26          26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27          27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28          28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29          29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30          30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31          31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [28]:
new.to_excel(r"C:\Users\Admin\Desktop\PYTHON\demo2.xlsx",index="False")

In [30]:
new=pd.read_excel(r"C:\Users\Admin\Desktop\PYTHON\demo2.xlsx")
new

    Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0            0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1            1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2            2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3            3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4            4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5            5  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6            6  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7            7  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8            8  22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9            9  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10          10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11          11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12          12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13          13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14          14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15          15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16          16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17          17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18          18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19          19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20          20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21          21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22          22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23          23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24          24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25          25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26          26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27          27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28          28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29          29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30          30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31          31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2