In [10]:
import pandas as pd

In [11]:
fruit_data=pd.DataFrame({
    'Gender':['Female','Male','Male','Female'],
    'Marital_status':['single','Married','Divorce','Married']
})
fruit_data

   Gender Marital_status
0  Female         single
1    Male        Married
2    Male        Divorce
3  Female        Married

In [12]:
fruit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          4 non-null      object
 1   Marital_status  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [13]:
fruit_data

   Gender Marital_status
0  Female         single
1    Male        Married
2    Male        Divorce
3  Female        Married

In [14]:

from sklearn.preprocessing import LabelEncoder
fruit_data.apply(LabelEncoder().fit_transform)

   Gender  Marital_status
0       0               2
1       1               1
2       1               0
3       0               1

In [24]:
fruit_data.Gender=LabelEncoder().fit_transform(fruit_data.Gender)
fruit_data

   Gender Marital_status
0       0         single
1       1        Married
2       1        Divorce
3       0        Married

In [2]:
import pandas as pd
fruit_data=pd.DataFrame({
    'Gender':['Female','Male','Male','Female'],
    'Marital_status':['single','Married','Divorce','Married']
})
fruit_data

   Gender Marital_status
0  Female         single
1    Male        Married
2    Male        Divorce
3  Female        Married

In [4]:
import pandas as pd
fruit_data_dummies=pd.get_dummies(fruit_data)
fruit_data_dummies

,Gender_Female,Gender_Male,Marital_status_Divorce,Marital_status_Married,Marital_status_single
0,1,0,0,0,1
1,0,1,0,1,0
2,0,1,1,0,0
3,1,0,0,1,0

# selecting via condition and callable