In [3]:

for i in range(1,5+1):
    for j in range(1,i+1):
        print("*",end=" ")
        
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
for i in range(6,1,-1):
    for j in range(1,i):
        print("*",end=" ")
        
    print()

* * * * *
* * * *
* * *
* *
*

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
        
    print() 
    
for i in range(6-1,1,-1):
    for j in range(1,i):
        print("*",end=" ")
        
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
for i in range(1,5+1):
    for j in range(1,i+1):
        print(i,end=" ")
        
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
for i in range(5,0,-1):
    for j in range(1-1,i):
        print(i,end=" ")
        
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [6]:
for i in range(1,5+1):
    for j in range(1,i+1):
        print(j,end=" ")
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
    
for i in range(5-1,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
        
    print()

1 2 3 4
1 2 3
1 2
1

In [8]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
        
    print() 
    
for i in range(5-1,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [9]:
for i in range(5,0,-1):
    for j in range(1-1,i):
        print(i,end=" ")
        
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [10]:
count=0
for i in range(1,6):
    for j in range(i):
        count=count+1
        print(count,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [11]:
count=0
for i in range(1,6):
    for j in range(1,i):
        count=count+1
        print(count,end=" ")
    print()
    

for i in range(6-1,1,-1):
    for j in range(i-1):
        count=count+1
        print(count,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14
15 16 17
18 19
20

In [12]:
for i in range(0,14):
    
            sum=i+j
            print(sum)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [13]:
num=3
count=0
for i in range (1,num+1):
    if num%i==0:
        count=count+1
if count==2:
    print("number is prime")
else:
    print("number is not prime")

number is prime

In [14]:
for i in range(2,11):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break  #prime number
        else:
            print(i,end=" ")

2 3 5 7

In [15]:
#factorial
num=5
fact=1

if num==0:
    print("factorial is 1")
elif num<0:
    print("factorial doesnt exist for negative number")
else:
    for i in range(1,num+1):
            fact= fact*i
    print(fact)

120

In [1]:
# using recursion
def factorial(num):
    if (num==0 or num==1):
        return 1
    else:
        return num*factorial(num-1)
num=5
print("factorial of",num,"is",factorial(num))

factorial of 5 is 120

In [2]:
#using ternary 
def factorial(num):
    return 1 if(num==1 or num==0) else num*factorial(num-1)
num=5
print("fact of",num,"is",factorial(num))

fact of 5 is 120

In [2]:
#find sum of array

arr=[1,4,2,3,8,1]
sum=0
for i in arr:
    sum=sum+i
print("sum of array is",sum)

sum of array is 19

In [29]:
#lagest number in array

arr=[4,3,7,1,9]
max=arr[0]
for i in arr:
    if i>max:
        max=i
print("maximum number is:",max)

maximum number is: 9

In [30]:
#count of list element
l=[1,6,4,3]
count=0
for i in l:
    count=count+1
print(count)

4

In [32]:
#check element is exist or not
l=[5,7,9,3]
num=5
num in l

True

In [35]:
a=[2,5,3]
mul=1
for i in a:
    mul=mul*i
print(mul)

30

In [4]:
#palindrome or not

v="madam"

s=v[::-1]
if v==s:
    print("palindrome")
    
else:
    print("not palindrome")

palindrome

In [9]:
a="vidya"
b=""
for i in range(5):
    if i==2:
        continue
    else:
        b=b+a[i]
print(b)

viya

In [14]:
a="vidya komal"
count=0
count1=0
for i in a:
    count1=count1+1
print("count of letter with space:",count1)
for i in a:
    if i!=" ":
        count=count+1
print("count of letter without space is",count)

count of letter with space: 11
count of letter without space is 10

In [24]:
a="i am vidya kothavalew"
s=a.split(" ")
for i in s:
    if len(i)%2==0:
        print(i)

am
kothavalew

In [27]:
a="suvarna"
dup=[]
for i in a:
    if i1=dup:
        dup=dup+a[i]
print(dup)

TypeError: string indices must be integers

In [29]:
def removeDuplicate(str):
    s=set(str)
    s="".join(s)
    print("Without Order:",s)
    t=""
    for i in str:
        if(i in t):
            pass
        else:
            t=t+i
        print("With Order:",t)
     
str="geeksforgeeks"
removeDuplicate(str)

Without Order: fgoekrs
With Order: g
With Order: ge
With Order: ge
With Order: gek
With Order: geks
With Order: geksf
With Order: geksfo
With Order: geksfor
With Order: geksfor
With Order: geksfor
With Order: geksfor
With Order: geksfor
With Order: geksfor

In [34]:
str="geeksforgeek"

s="".join(str)
s

'geeksforgeek'